// TypoGraphy
$font-bold: 700;
$font-normal: normal;

$valueReset: 0; /* Value Reset */

//Padding & Margins
$horizontalPad: 23px; /* Contents Common horizontal Padding size */
$verticalPad: 10px; /* Contents Common vertical Padding size */
