.inputContainer {
  position: relative;
  margin-bottom: 10px;
  font-family: "Noto Sans JP", "Noto Sans KR", sans-serif !important;
}

.inputLabel {
  position: absolute;
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 0 5px;
  font-size: 14px;
  color: #333;
  z-index: 1;
  user-select: none; /* 라벨 텍스트 선택 방지 */
  -webkit-user-select: none; /* Safari용 */
  -moz-user-select: none; /* Firefox용 */
  -ms-user-select: none; /* IE/Edge용 */
}

.input {
  width: 100%;
  height: 45px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 11px;
  font-size: 16px;
  font-family: "Noto Sans JP", "Noto Sans KR", sans-serif !important;
}

.input:focus {
  border-color: #1890ff;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}
